@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Kaisei+Tokumin&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



:root{
 --black:#141414;   
 --gold:#e1b74d;
 --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border:none;
    transition: all .3s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--gold);
    font-size: 3rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top:1rem;
    display: inline-block;
    font-size:1.7rem;
    color:#fff;
    background-color: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background-color: var(--gold);
}

/* Header */

header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background:var(--black);
    padding:2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header img{
    float: left;
    padding:10px 10px 0px 0px;
}

header .brand{
    color:#fff;
    font-size: 2.5rem;
    font-weight: bolder;
    float: left;
    padding: 10px 10px 0px 0px;
}

header .navbar{
    position:absolute;
    right:0;
    background: var(--black);
    border-top: .1rem solid rgba(0,0,0,.2);
    padding-right:8rem;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:#fff;
}

header .navbar a.active,
header .navbar a:hover{
    color:var(--black);
    background:var(--gold);
}

header i{
    cursor:pointer;
    margin-left:.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:white;
    display:none;
}

header i:hover{
    color:var(--gold);
    transform:rotate(360deg);
}

header i#menu-bars{
    display:none;
}

/* Home */

.home .container .slide{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;
}

.home .container .slide .content{
    flex:1 1 45rem;
}

.home .container .slide .image{
    flex:1 1 45rem;
}

.home .container .slide .imgage img{
    width: 100%;
}

.home .container .slide .content span{
    color:var(--gold);
    font-size: 7rem;
}

.home .container .slide .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.home .container .slide .content p{
    color:#181818;
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination>.swiper-pagination-bullet-active{
    background: var(--gold);
}

/* About */

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image{
    float:left;
    padding-right:5rem;
}

.about .row .image img{
    width: 100%;
}


.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color:var(--black);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;

}

.about .row .content .icons-container{
    display: inline-block;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    border-radius: .5rem;
    gap:1rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2rem; 
    padding-right:1.5rem;
    color:var(--gold)
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

/* Dishes */

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    padding:1rem;
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background: #fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position:relative;
    overflow:hidden;
    text-align: center;
}

.dishes .box-container .box h4{
    position:absolute;
    top:1.5;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--black);
    right:8rem;
}

.dishes .box-container .box img{
    height: 17rem;
    margin:1rem 0;
}

.dishes .box-container .box .inner-text{
    text-align: left;
}

.dishes .box-container .box h3{
    text-transform: uppercase;
    font-size: 2rem;
}

.dishes .box-container .box span{
    font-size: 1.5rem;
}

/* Menu */

.menu .sub-heading-menu{
    background-color: var(--gold);
    text-align: left;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    text-transform: uppercase;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:3rem;
}

.menu .box-container .box{
    padding:5rem 0;
    font-size: 1.5rem;
    color:var(--black);
}

.menu .box-container .box h3{
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding:1rem;
}

.menu .box-container .box h6{
    padding-top:3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom-style: dotted;
}

.menu .box-container .box .right{
   float:right;
   border-bottom-style: none;
}


/* Location */

#map-canvas-container{
    display: grid;
    grid-template-columns: auto auto;
}

.location .box-container{
    padding: 10rem;
    text-align: center;
}

.location #map-canvas-container #map-canvas iframe{
    height: 100%;
    width: 100%;
}

.location #map-canvas-container #side h1{
    color: var(--gold);
    font-size: 3.5rem;
}

.location #map-canvas-container #side h3{
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
}

/* Footer */

.footer{
    background-color: var(--black) !important;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}

.footer .box-container .box{
    padding:5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box h3{
    color: var(--gold);
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color:#eee;
}

.footer .box-container .box a:hover{
    color:var(--gold);
}

.footer .credit{
    text-align: left;
    border-top: .1rem solid rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    color:#eee;
}

.footer .credit span{
    color:var(--gold);
}

/* Media queries */

@media (max-width:991px){
    html{
        font-size:55%;
    }
    header{
        padding:1rem 2rem;
    }
    .footer .box-container .box{
        padding:3rem 0;
        font-size: 2.5rem;
        color:var(--black);
    }
}

@media (max-width:768px){
    header i#menu-bars{
        display:inline-block;
    }
    header .navbar{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        background: var(--black);
        border-top: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    }
    header .navbar a{
        display:block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        color:black;
        background: #eee;
    }
    .home .container .slide .content h3{
        color:var(--black);
        font-size: 5rem;
    }
    .footer .box-container .box{
        padding:1.5rem 0;
        font-size: 2.5rem;
        color:var(--black);
    }
    #map-canvas-container{
        display: block;
    }
    .location #map-canvas-container #map-canvas iframe{
        height: 400px;
    }
}